/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #3365A6;
    --light-blue: #5483BF;
    --grey: #99AABF;
    --contrast-color: #F29F05;
    --light-color: #F2E0C9;
}

body{
    background-color: var(--bg-color);
}

section{
    height: 100vh;
}

h1, h2{
    color: var(--light-color);
}

.biglietto, .ticket{
    background-color: var(--light-blue);
    border: 3px solid var(--contrast-color);
    width: 40rem;
}

.ah-input input{
    background-color: var(--light-color);
}

.ticket i.fa-user{
    color: var(--contrast-color);
    font-size: 5rem;
}

ul{
    list-style: none;
    padding: 0 20px;
    color: var(--light-color);
    font-weight: 600;
}

.ticket img{
    width: 100px;
}

.ticket ul{
    color: var(--bs-warning);
}

.ticket ul span{
    color: var(--light-color);
}